[Desktop Entry]
Version=1.0
Type=Application
Name=GPGWrap
Comment=GPG text and file encryption/signing GUI
Exec=gpgwrap
Icon=gpgwrap
Terminal=false
Categories=Utility;Security;
Keywords=GPG;PGP;Encrypt;Decrypt;Sign;Verify;Crypto;
StartupNotify=true